
@media only screen and (max-width:410px){
    #header{
        width: 100%;
    }

    .navbar{
        overflow: hidden;
        padding: 40px 10%;
        height: 100px;
        min-width: 350px;

        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    .navbar .logo img{
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 10;
    }
    .navbar .fa-bars{
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar .list-items{
        display: none;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }



    .aside.sticky{
        display: none;
        top: 0;
        right: -350px;
        background: rgba(224, 237, 239, 0.699);
        height: 100%;
        width: 50%;
        z-index: 10;
        padding: 70px 30px;
        scroll-behavior: none;
        transition: all 0.5s;
        
    }
    .aside i{

        font-size: 20px;
    }
    .aside.sticky.show{
        display: block;
        transition: all 0.5s;
        right: 0;
    }
    .aside li{
        font-size: 18px;
        margin-top: 20px;
    }
    .profile-info{
        padding-top: 10%;
        width: 100%;
    }
    .profile-info .col1-info{
        flex-basis: 100%;
        margin: 0px auto;
        padding: 25% 20% 10%   ;
    }
    .profile-info .col1-info h1{
        font-family: cursive;
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 1px;
    }
    .profile-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 40px;
    }
    .profile-info .col1-info h3{
        font-size: 18px;
    }
    .profile-info .col2-img{
        display: none;
    }
    .profile-info .col1-info .btn{
        width: 50%;
        min-width: 150px;
        margin-top: 40px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        transition:transform 0.5s ;

    }
    .profile-info .col1-info .btn a{
        text-align: center;
        padding: 10px 8px;
    }

    .projects-container .container{
        padding-top: 10%;
        width: 100%;        
    }
    #projects .projects-grid .pro-img img{
        width: 100%;
    }
    #projects .projects-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
        grid-template-rows: auto 1fr;
        gap: 40px;
        padding: 0px 2% 10% 2%;
    
    }
    #projects .projects-grid .project{
        padding: 20px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.5s;
    }
    #projects .container .showmore{
        margin: 30px auto 5%;
    }

    #footer{
        width: 100%;
    }
    #footer .container .list-items{
        display: flex;
        margin: 40px 0px;
    }
    #footer .container .list-items a{
        color: #fff;
        font-size: 17px;
        margin-right: 19px;
    }

    #footer .container .profile-links a{
        margin-right: 25px;
    } 
    #footer .container #copyright{
        color: white;
        margin: 45px 0px;
        text-align: center;
        padding: 0px 15px;
    }
    #footer .container #copyright a{
        color: #6dc5b2;
    }



    .about-info{
        display: flex;
        padding-bottom: 100px;
        padding-top: 10%;
    }
    .about-info .col1-info{
        flex-basis: 100%;
        display: flex;
        align-items: flex-start;
        padding: 12%;
        justify-content: center;
        flex-direction: column;
    }
    
    .about-info .col2-img{
        display: none;
        flex-basis: 48%;
        position: relative;
    }

    #about-header .container .about-info .col1-info h1:nth-child(1){

        font-weight: 600;
        font-size: 30px;
        letter-spacing: 1px;
    }
    #about-header .container .about-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 30px;
        text-shadow: 2px 1px 4px #91dfce;
        font-weight: 600;
        letter-spacing: 2px;
    }


    #skills .skills-grid{
        padding: 40px 10%;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
    }


    #education .edu-grid{
        width: 100%;
    }
    #education .edu-grid .each-standard{
        padding: 0px 10%;
        display: flex;
        align-items: center;
    }
    #education .edu-grid .each-standard span.active{
        background: #ffffff;
        width: 10%;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;
        transition: margin-right 0.5s;
        box-shadow: inset 0 5px 12px rgb(255, 255, 255);
    }
    #education .edu-grid .each-standard span.active:hover{
        margin-right: 0px;
        box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.7);
    
    }
    #education .edu-grid .each-standard span.active{
        border-left: 5px solid #72d8e3;
    }
    #education .edu-grid .standard{
        width: 560px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        transition: transform 0.5s;
        margin-bottom: 10px;
        /* margin-left: 100px; */
    }
    #education .edu-grid .standard .school{
        font-size: 25px;
        text-align: left;
        font-weight: normal;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        color: #82999c;
    }
    #education .edu-grid .standards .each-standard .details p.loc{
        margin-top: 20px;
    }
    #education .edu-grid .standards .each-standard .details .percent{
        display: flex;
        justify-content: space-between;
    }
    #education .edu-grid .standards .each-standard .details p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #education .edu-grid .standard .school::after{
        display: none;
    }


    .services .container{
        padding-top: 15%;
    }
    .services{
        width: 100%;
        min-height: 90vh;
        background: #F5FEFF;
        padding: 0px 10% 100px;
    }
    .services .container ul{
        background: #fff;
        width: fit-content;
        padding: 50px 100px;
        margin: 0;
    
    }
    .services .container ul li{
        background: #919798;
        margin-top: 20px;
        font-size: 16px;
        padding: 10px;
        border-radius: 7px;
        display: flex;
        gap: 20px;
        color: white;
    }



    #contact .container{
        padding-top:15% ;
    }
    #contact .container .form-div{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }
    #contact .container .form-div .left-col{
        flex-basis: 35%;
    }
    #contact .container .form-div .right-col{
        flex-basis:35%;
    }
    #contact .container .form-div .left-col .profile-links{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    #contact .container .form-div .left-col .profile-links a{
        margin-right: 35px;
    }
    #contact .container .form-div .left-col .profile-links a i{
        font-size: 20px;
        color: cadetblue;
        transition: transform 0.8s;
    }
    #contact .container .form-div .left-col .profile-links a i:hover{
        transform: translateY(-10px);
    }
    
    #contact .container .form-div .left-col p{
        background: #eff1f2;
        padding: 20px;
        margin-bottom: 18px;
        display: flex;
        border-radius: 6px;
        gap: 10px;
        align-items: center;
    
    }
    #contact .container .form-div .left-col p span{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #contact .container .form-div .left-col p:hover{
        background: #e2f3f9;
    }
    #contact .container .form-div .left-col p i{
        font-size: 13px;
    }
    

    #contact .container .form-div .right-col input{
        background: #eff1f2;
        padding: 18px;
        display: block;
        margin-bottom: 18px;
        outline: none;
        border: none;
        width: 100%;
        border-radius: 6px;
        font-size: 16px;
        
    }
    #contact .container .form-div .right-col input#email{
        padding: 10px;
    }
    #contact .container .form-div .right-col input::placeholder{
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #contact .container .form-div .right-col textarea{
        resize: none;
        width: 100%;
        border: none;
        outline: none;
        background: #eff1f2;
        padding: 20px;
        border-radius: 6px;
        font-size: 16px;
    }
    #contact .container .form-div .right-col textarea::placeholder{
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #contact .container .form-div .right-col button{
        margin-top: 30px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        padding: 12px 40px;
        font-size: 16px;
        border-radius: 6px;
        letter-spacing: 1px;
        transition:transform 0.5s ;
    }
    #contact .container .form-div .right-col #msg{
        color: rgb(64, 202, 64);
        position: relative;
        top: 10px;
        left: 20px;
    }

}

@media only screen and (max-width:768px) {
    #header{
        height: auto;
    }
    .navbar{
        overflow: hidden;
        padding: 40px 10%;
        height: 100px;
        min-width: 350px;

        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    .navbar .logo img{
        width: 45px;
        height: 45px;
        cursor: pointer;
        z-index: 10;
    }
    .navbar .fa-bars{
        display: block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar .list-items{
        display: none;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }



    .aside.sticky{
        display: none;
        top: 0;
        right: -350px;
        background: rgba(224, 237, 239, 0.699);
        height: 100%;
        width: 50%;
        z-index: 10;
        padding: 70px 30px;
        scroll-behavior: none;
        transition: all 0.5s;
        
    }
    .aside i{

        font-size: 20px;
    }
    .aside.sticky.show{
        display: block;
        transition: all 0.5s;
        right: 0;
    }
    .aside li{
        font-size: 18px;
        margin-top: 20px;
    }
    .profile-info{
        padding-top: 10%;
    }
    .profile-info .col1-info{
        flex-basis: 100%;
        margin: 0px auto;
        padding: 25% 20% 10%   ;
    }
    .profile-info .col1-info h1{
        font-family: cursive;
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 1px;
    }
    .profile-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 40px;
    }
    .profile-info .col1-info h3{
        font-size: 18px;
    }
    .profile-info .col2-img{
        display: none;
    }
    .profile-info .col1-info .btn{
        width: 50%;
        min-width: 150px;
        margin-top: 40px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        transition:transform 0.5s ;

    }
    .profile-info .col1-info .btn a{
        text-align: center;
        padding: 10px 8px;
    }

    .projects-container .container{
        padding-top: 10%;
    }

    #projects .container{
        padding-bottom: 5%;
    }
    #projects .projects-grid .pro-img img{
        width: 100%;
    }
    #projects .projects-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%,1fr));
        grid-template-rows: auto 1fr;
        gap: 40px;
        padding: 0px 2% 10% 2%;
    
    }
    #projects .projects-grid .project{
        padding: 20px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.5s;
    }
    #projects .container .showmore{
        margin: 30px auto 20px;
    }


    #footer .container .list-items{
        display: flex;
        margin: 40px 0px;
    }
    #footer .container .list-items a{
        color: #fff;
        font-size: 17px;
        margin-right: 19px;
    }

    #footer .container .profile-links a{
        margin-right: 25px;
    } 
    #footer .container #copyright{
        color: white;
        margin: 45px 0px;
        text-align: center;
        padding: 0px 15px;
    }
    #footer .container #copyright a{
        color: #6dc5b2;
    }



    .about-info{
        display: flex;
        padding-bottom: 100px;
        padding-top: 10%;
    }
    .about-info .col1-info{
        flex-basis: 100%;
        display: flex;
        align-items: flex-start;
        padding: 12%;
        justify-content: center;
        flex-direction: column;
    }
    
    .about-info .col2-img{
        display: none;
        flex-basis: 48%;
        position: relative;
    }

    #about-header .container .about-info .col1-info h1:nth-child(1){

        font-weight: 600;
        font-size: 30px;
        letter-spacing: 1px;
    }
    #about-header .container .about-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 30px;
        text-shadow: 2px 1px 4px #91dfce;
        font-weight: 600;
        letter-spacing: 2px;
    }


    #skills .skills-grid{
        padding: 40px 10%;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
    }


    #education .edu-grid{
        width: 100%;
    }
    #education .edu-grid .each-standard{
        padding: 0px 10%;
        display: flex;
        align-items: center;
    }
    #education .edu-grid .each-standard span.active{
        background: #ffffff;
        width: 10%;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;
        transition: margin-right 0.5s;
        box-shadow: inset 0 5px 12px rgb(255, 255, 255);
    }
    #education .edu-grid .each-standard span.active:hover{
        margin-right: 0px;
        box-shadow: inset 0 5px 10px rgba(255, 255, 255, 0.7);
    
    }
    #education .edu-grid .each-standard span.active{
        border-left: 5px solid #72d8e3;
    }
    #education .edu-grid .standard{
        width: 560px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        transition: transform 0.5s;
        margin-bottom: 10px;
        /* margin-left: 100px; */
    }
    #education .edu-grid .standard .school{
        font-size: 25px;
        text-align: left;
        font-weight: normal;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        color: #82999c;
    }
    #education .edu-grid .standards .each-standard .details p.loc{
        margin-top: 20px;
    }
    #education .edu-grid .standards .each-standard .details .percent{
        display: flex;
        justify-content: space-between;
    }
    #education .edu-grid .standards .each-standard .details p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #education .edu-grid .standard .school::after{
        display: none;
    }


    .services .container{
        padding-top: 15%;
    }
    .services{
        width: 100%;
        min-height: 90vh;
        background: #F5FEFF;
        padding: 0px 10% 100px;
    }
    .services .container ul{
        background: #fff;
        width: fit-content;
        padding: 50px 100px;
        margin: 0;
    
    }
    .services .container ul li{
        background: #919798;
        margin-top: 20px;
        font-size: 16px;
        padding: 10px;
        border-radius: 7px;
        display: flex;
        gap: 20px;
        color: white;
    }



    #contact .container{
        padding-top:15% ;
    }
    #contact .container .form-div{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }
    #contact .container .form-div .left-col{
        flex-basis: 35%;
    }
    #contact .container .form-div .right-col{
        flex-basis:35%;
    }
    #contact .container .form-div .left-col .profile-links{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;
    }
    #contact .container .form-div .left-col .profile-links a{
        margin-right: 35px;
    }
    #contact .container .form-div .left-col .profile-links a i{
        font-size: 20px;
        color: cadetblue;
        transition: transform 0.8s;
    }
    #contact .container .form-div .left-col .profile-links a i:hover{
        transform: translateY(-10px);
    }
    
    #contact .container .form-div .left-col p{
        background: #eff1f2;
        padding: 20px;
        margin-bottom: 18px;
        display: flex;
        border-radius: 6px;
        gap: 10px;
        align-items: center;
    
    }
    #contact .container .form-div .left-col p span{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #contact .container .form-div .left-col p:hover{
        background: #e2f3f9;
    }
    #contact .container .form-div .left-col p i{
        font-size: 13px;
    }
    

    #contact .container .form-div .right-col input{
        background: #eff1f2;
        padding: 18px;
        display: block;
        margin-bottom: 18px;
        outline: none;
        border: none;
        width: 100%;
        border-radius: 6px;
        font-size: 16px;
        
    }
    #contact .container .form-div .right-col input::placeholder{
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    #contact .container .form-div .right-col textarea{
        resize: none;
        width: 100%;
        border: none;
        outline: none;
        background: #eff1f2;
        padding: 20px;
        border-radius: 6px;
        font-size: 16px;
    }
    #contact .container .form-div .right-col textarea::placeholder{
        font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #contact .container .form-div .right-col button{
        margin-top: 30px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        padding: 12px 40px;
        font-size: 16px;
        border-radius: 6px;
        letter-spacing: 1px;
        transition:transform 0.5s ;
    }
    #contact .container .form-div .right-col #msg{
        color: rgb(64, 202, 64);
        position: relative;
        top: 10px;
        left: 20px;
    }
}





@media only screen and (min-width:481px) and (max-width:768px){
    #header{
        height: auto;
    }
    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .profile-info .col1-info{
        flex-basis: 100%;
        display: flex;
        padding-left: 10%;
        justify-content: center;
        flex-direction: column;
    }
    .profile-info .col1-info h1{
        font-family: cursive;
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 1px;
    }
    
    .profile-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 45px;
        text-shadow: 2px 1px 4px #91dfce;
        font-weight: 800;
        letter-spacing: 2px;
        /* transition: all 1s; */
        animation-name: letterspacacinganime;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    .profile-info .col1-info h3{
        font-size: 22px;
    }
    .profile-info .col1-info .profile-links a i{
        font-size: 28px;
    }
    .profile-info .col1-info .btn{
        width: 65%;
    }

    #projects .container{
        padding-bottom: 30%;
    }
    #projects .projects-grid .pro-img img{
        width: 100%;
    }
    #projects .projects-grid{
        width: 100%;
        display: grid;
        row-gap: 2%;
        column-gap: 1%;
        grid-template-columns: repeat(auto-fit, minmax(40%,1fr));
        grid-template-rows: auto 1fr;
        padding: 0px 2% 10% 2%;
    
    }
    #projects .projects-grid .project{
        padding: 20px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.5s;
    }
    #projects .container .showmore{
        margin: 16% auto 0px;
    }

    .about-info .col1-info{
        flex-basis: 100%;
        display: flex;
        align-items: flex-start;
        padding: 15%;
        padding-top: 19%;
        justify-content: center;
        flex-direction: column;
    }
    
    #contact .container{
        padding-top:15% ;
        padding-bottom: 25%;
    }
    #contact .container .form-div{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:769px) and (max-width:1024px){

    #header{
        height: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1% 10%;
        height: 100px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    
    .navbar .logo img{
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    .navbar .fa-bars{
        display: none;
    }
    .navbar .list-items{
        display: flex;
        align-items: center;
    }
    .navbar .list-items .item a{
        margin-right: 17px;
        color:rgb(48, 50, 50);
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        padding: 6px 10px;
        position: relative;
    }
    .navbar .list-items .item a:hover{
        color: darkcyan;
        transition:  all 0.5s;
    }
    .navbar .list-items .item a::after{
        content: '';
        width: 0px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -7px;
        border-radius: 2px;
        background-color: #88eed5;
    }
    .navbar .list-items .item a:hover::after{
        width: 100%;
        transition: all 0.5s;
    }
    .navbar .list-items .item a.active{
        color:rgb(48, 50, 50);
        font-size: 18px;
        font-weight: 500;
        display: inline-block;
        padding: 6px 10px;
        border-radius: 8px;
        text-align: center;
        background: #BDE2D9;
        transition: color 0.5s;
    }
    .navbar .list-items .item a.active:hover{
        color: darkcyan;
    }


    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }



    .aside.sticky{
        display: none;
        top: 0;
        right: -350px;
        background: rgba(224, 237, 239, 0.699);
        height: 100%;
        width: 50%;
        z-index: 10;
        padding: 70px 30px;
        scroll-behavior: none;
        transition: all 0.5s;
        
    }
    .aside i{

        font-size: 20px;
    }
    .aside.sticky.show{
        display: block;
        transition: all 0.5s;
        right: 0;
    }
    .aside li{
        font-size: 18px;
        margin-top: 20px;
    }
    .projects-container .container{
        padding-top: 10%;
    }

    .profile-info .col1-info{
        flex-basis: 58%;
        margin: 0px auto;
        padding: 22% 5% 10% ;
    }
    .profile-info .col1-info h1{
        font-family: cursive;
        font-weight: 800;
        font-size: 40px;
        letter-spacing: 1px;
    }
    .profile-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 30px;
    }
    .profile-info .col1-info h3{
        font-size: 25px;
    }
    .profile-info .col2-img{
        flex-basis: 48%;
        position: relative;
    }
    .profile-info .col2-img .profile-img{
        width: 100%;
        padding: 30% 0% 5%;
        height: 100%;
        overflow: hidden;
    }
    .profile-info .col2-img .profile-img img{
        width: 100%;
        height: 100%;
    }
    .profile-info .col1-info .profile-links a i{
        font-size: 32px;
        color: cadetblue;
        transition: transform 0.8s;
    }
    .profile-info .col1-info .btn{
        width: 65%;
        min-width: 150px;
        margin-top: 40px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        transition:transform 0.5s ;

    }
    .profile-info .col1-info .btn a{
        text-align: center;
        padding: 10px 8px;
    }

    #projects .container{
        padding-bottom: 20%;
    }

    #projects .projects-grid{
        width: 100%;
        display: grid;
        row-gap: 2%;
        column-gap: 0%;
        grid-template-columns: repeat(auto-fit, minmax(40%,1fr));
        grid-template-rows: auto 1fr;
        padding: 0px 2% 10% 2%;
    
    }
    #projects .container .showmore{
        margin: 16% auto 0px;
    }


    #about-header{
        width: 100%;
        background: #fff;
        padding-top: 8%;
    }
    #about-header .container .navbar{
        margin-bottom: 2px;
    }
    #about-header .container .about-info{
        background: #F2FBFD;
    }
    #about-header .container .about-info .col1-info h1:nth-child(1){
        font-family: cursive;
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 1px;
        animation-name: letterspacacinganime;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    #about-header .container .about-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 45px;
        text-shadow: 2px 1px 4px #91dfce;
        font-weight: 800;
        letter-spacing: 2px;
        /* transition: all 1s; */
        animation-name: letterspacacinganime;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    
    #about-header .container .about-info .col1-info .para{
        font-size: 18px;
        font-weight: normal;
        font-family:    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
        margin: 20px 0px;
    }
    #about-header .container .about-info .col1-info .btn{
        margin-top: 40px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        transition:transform 0.5s ;
        border-radius: 5px;
    }
    #about-header .container .about-info .col1-info .btn a{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 20px 60px;
        display: block;
        height: 100%;
        width: 100%;
    }
    #about-header .container .about-info .col1-info .btn:hover{
        transform: scale(1.06);
    }
    
    .about-info{
        display: flex;
        padding-bottom: 100px;
    }
    .about-info .col1-info{
        flex-basis: 55%;
        display: flex;
        align-items: flex-start;
        padding-left: 10%;
        padding-top: 0%;
        justify-content: center;
        flex-direction: column;
    }
    
    .about-info .col2-img{
        flex-basis: 50%;
        position: relative;
        padding-top:0%;
    }
    
    
    .about-info .col2-img .profile-img{
        width: 100%;
        padding: 60px 45px 0px;
        overflow: hidden;
        position: relative;
        z-index: 1  ;
    }
    .about-info .col2-img .profile-img::after{
        content: '';
        position: absolute;
        /* height: 70%; */
        width: 87%;
        border-right: 10px solid #72d8e3;
        left: -10px;
        bottom: 20px;
        border-radius: 8px;
        z-index: -1;
        animation-name: borderanime;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    
    @keyframes borderanime {
        0%{
            bottom: 5px;
            height: 0px;
            opacity: 0;
        }
        100%{
            bottom: 5px;
            height: 50%;
            opacity: 1;
        }
    }
    
    .about-info .col2-img .profile-img img{
        width: 100%;
        height: 100%;
    }



    #education{
        padding-top: 40px;
        background: #fff;
        width: 100%;
        padding-bottom: 100px;
    }
    #education h1{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        position: relative;
        padding-top: 30px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        margin-bottom: 60px;
    }
    #education h1::after{
        content: '';
        width: 6%;
        height: 4px;
        position: absolute;
        background-color: #15b390;
        left: 47%;
        border-radius: 2px;
        bottom: -12px;
        
    }
    #education .edu-grid{
        width: 100%;
    }
    #education .edu-grid .each-standard{
        padding: 0px 8%;
        display: flex;
        align-items: center;
    }
    #education .edu-grid .each-standard span.active{
        background: #e6f2f3;
        width: 140px;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        transition: margin-right 0.5s;
        box-shadow: inset 0 5px 12px rgba(99, 99, 99, 0.4);
    }
    #education .edu-grid .each-standard span.active:hover{
        margin-right: 120px;
        box-shadow: inset 0 5px 10px rgba(99, 99, 99, 0.7);
    
    }
    #education .edu-grid .each-standard span.active{
        border-left: 5px solid #72d8e3;
    }
    #education .edu-grid .standard{
        width: 560px;
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        transition: transform 0.5s;
        margin-bottom: 10px;
        margin-left: 100px;
    }
    #education .edu-grid .standard .school{
        font-size: 25px;
        text-align: left;
        font-weight: normal;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        color: #82999c;
    }
    #education .edu-grid .standards .each-standard .details p.loc{
        margin-top: 20px;
    }
    #education .edu-grid .standards .each-standard .details .percent{
        display: flex;
        justify-content: space-between;
    }
    #education .edu-grid .standards .each-standard .details p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #education .edu-grid .standard .school::after{
        display: none;
    }
    .services .container{
        padding-top: 15%;
    }
    #contact .container{
        padding-top:15% ;
        padding-bottom: 25%;
    }
}


@media only screen and (min-width:1025px) and (max-width:1200px){

    #header{
        height: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 10%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        height: 100px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    }
    
    .navbar .logo img{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .navbar .fa-bars{
        display: none;
    }
    .navbar .list-items{
        display: flex;
        align-items: center;
    }
    .navbar .list-items .item a{
        margin-right: 17px;
        color:rgb(48, 50, 50);
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        padding: 6px 10px;
        position: relative;
    }
    .navbar .list-items .item a:hover{
        color: darkcyan;
        transition:  all 0.5s;
    }
    .navbar .list-items .item a::after{
        content: '';
        width: 0px;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -7px;
        border-radius: 2px;
        background-color: #88eed5;
    }
    .navbar .list-items .item a:hover::after{
        width: 100%;
        transition: all 0.5s;
    }
    .navbar .list-items .item a.active{
        color:rgb(48, 50, 50);
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        padding: 6px 10px;
        border-radius: 8px;
        text-align: center;
        background: #BDE2D9;
        transition: color 0.5s;
    }
    .navbar .list-items .item a.active:hover{
        color: darkcyan;
    }


    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }



    .aside.sticky{
        display: none;
        top: 0;
        right: -350px;
        background: rgba(224, 237, 239, 0.699);
        height: 100%;
        width: 50%;
        z-index: 10;
        padding: 70px 30px;
        scroll-behavior: none;
        transition: all 0.5s;
        
    }
    .aside i{

        font-size: 20px;
    }
    .aside.sticky.show{
        display: block;
        transition: all 0.5s;
        right: 0;
    }
    .aside li{
        font-size: 18px;
        margin-top: 20px;
    }
    .profile-info{
        padding-top: 6%;
    }
    .profile-info .col1-info{
        flex-basis: 58%;
        margin: 0px auto;
        padding: 12% 5% auto 10% ;
    }
    .profile-info .col1-info h1{
        font-family: cursive;
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 1px;
    }
    .profile-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 40px;
    }
    .profile-info .col1-info h3{
        font-size: 21px;
    }
    .profile-info .col2-img{
        flex-basis: 48%;
        position: relative;
    }
    .profile-info .col2-img .profile-img{
        width: 100%;
        padding: 10%;
        height: 100%;
        overflow: hidden;
    }
    .profile-info .col2-img .profile-img img{
        width: 100%;
        height: 100%;
    }

    .profile-info .col1-info .profile-links{
        display: flex;
        align-items: center;
        margin-top: 45px;
    }
    .profile-info .col1-info .profile-links a{
        margin-right: 35px;
    }
    .profile-info .col1-info .profile-links a i{
        font-size: 28px;
        color: cadetblue;
        transition: transform 0.8s;
    }
    .profile-info .col1-info .profile-links a i:hover{
        transform: translateY(-10px);
    }
    .profile-info .col1-info .btn{
        width: 50%;
        min-width: 150px;
        margin-top: 40px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        transition:transform 0.5s ;

    }
    .profile-info .col1-info .btn a{
        text-align: center;
        padding: 10px 8px;
    }

    .projects-container .container{
        padding-top: 10%;
    }

    #projects .container{
        padding-bottom: 5%;
    }
    #projects .projects-grid{
        width: 100%;
        display: grid;
        row-gap: 2%;
        column-gap: 0%;
        grid-template-columns: repeat(auto-fit, minmax(40%,1fr));
        grid-template-rows: auto 1fr;
        padding: 0px 2% 10% 2%;
    
    }
    #projects .container .showmore{
        margin: 16% auto 0px;
    }


    #about-header{
        width: 100%;
        background: #fff;
        padding-top: 8%;
        /* height: 100vh; */
    }
    #about-header .container .navbar{
        margin-bottom: 2px;
    }
    #about-header .container .about-info{
        background: #F2FBFD;
    }
    #about-header .container .about-info .col1-info h1:nth-child(1){
        font-family: cursive;
        font-weight: 800;
        font-size: 50px;
        letter-spacing: 1px;
        animation-name: letterspacacinganime;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    #about-header .container .about-info .col1-info h1:nth-child(2){
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 10px;
        color: #6dc5b2;
        font-size: 45px;
        text-shadow: 2px 1px 4px #91dfce;
        font-weight: 800;
        letter-spacing: 2px;
        /* transition: all 1s; */
        animation-name: letterspacacinganime;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    
    #about-header .container .about-info .col1-info .para{
        font-size: 18px;
        font-weight: normal;
        font-family:    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
        margin: 20px 0px;
    }
    #about-header .container .about-info .col1-info .btn{
        margin-top: 40px;
        background: #15b390;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        transition:transform 0.5s ;
        border-radius: 5px;
    }
    #about-header .container .about-info .col1-info .btn a{
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 20px 60px;
        display: block;
        height: 100%;
        width: 100%;
    }
    #about-header .container .about-info .col1-info .btn:hover{
        transform: scale(1.06);
    }
    
    .about-info{
        display: flex;
        padding-bottom: 100px;
    }
    .about-info .col1-info{
        flex-basis: 55%;
        display: flex;
        align-items: flex-start;
        padding-left: 10%;
        justify-content: center;
        flex-direction: column;
    }
    
    .about-info .col2-img{
        flex-basis: 50%;
        position: relative;
    }
    
    
    .about-info .col2-img .profile-img{
        width: 100%;
        padding: 60px 45px 0px;
        overflow: hidden;
        position: relative;
        z-index: 1  ;
    }
    .about-info .col2-img .profile-img::after{
        content: '';
        position: absolute;
        /* height: 70%; */
        width: 87%;
        border-right: 10px solid #72d8e3;
        left: -10px;
        bottom: 20px;
        border-radius: 8px;
        z-index: -1;
        animation-name: borderanime;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        animation-timeline: auto;
        animation-range-start: normal;
        animation-range-end: normal;
    }
    
    @keyframes borderanime {
        0%{
            bottom: 5px;
            height: 0px;
            opacity: 0;
        }
        100%{
            bottom: 5px;
            height: 50%;
            opacity: 1;
        }
    }
    
    .about-info .col2-img .profile-img img{
        width: 100%;
        height: 100%;
    }



    #education{
        padding-top: 40px;
        background: #fff;
        width: 100%;
        padding-bottom: 100px;
    }
    #education h1{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        position: relative;
        padding-top: 30px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        margin-bottom: 60px;
    }
    #education h1::after{
        content: '';
        width: 6%;
        height: 4px;
        position: absolute;
        background-color: #15b390;
        left: 47%;
        border-radius: 2px;
        bottom: -12px;
        
    }
    #education .edu-grid{
        width: 100%;
    }
    #education .edu-grid .each-standard{
        padding: 0px 8%;
        display: flex;
        align-items: center;
    }
    #education .edu-grid .each-standard span.active{
        background: #e6f2f3;
        width: 140px;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        transition: margin-right 0.5s;
        box-shadow: inset 0 5px 12px rgba(99, 99, 99, 0.4);
    }
    #education .edu-grid .each-standard span.active:hover{
        margin-right: 120px;
        box-shadow: inset 0 5px 10px rgba(99, 99, 99, 0.7);
    
    }
    #education .edu-grid .each-standard span.active{
        border-left: 5px solid #72d8e3;
    }
    #education .edu-grid .standard{
        width: 560px;
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        transition: transform 0.5s;
        margin-bottom: 10px;
        margin-left: 100px;
    }
    #education .edu-grid .standard .school{
        font-size: 25px;
        text-align: left;
        font-weight: normal;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        color: #82999c;
    }
    #education .edu-grid .standards .each-standard .details p.loc{
        margin-top: 20px;
    }
    #education .edu-grid .standards .each-standard .details .percent{
        display: flex;
        justify-content: space-between;
    }
    #education .edu-grid .standards .each-standard .details p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #education .edu-grid .standard .school::after{
        display: none;
    }
    .services .container{
        padding-top: 15%;
    }
    #contact{
        width: 100%;
        height: calc(100vh - 200px);
    }
    #contact .container{
        padding-top:15% ;
        padding-bottom: 25%;
    }
}


@media only screen and (min-width:1201px){
    #header{
        height: auto;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 10%;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        height: 100px;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
        box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    }
    
    .navbar .logo img{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .navbar .fa-bars{
        display: none;
    }
    .navbar .list-items{
        display: flex;
        align-items: center;
    }
    .navbar .list-items .item a{
        margin-right: 17px;
        color:rgb(48, 50, 50);
        font-size: 20px;
        font-weight: 500;
        display: inline-block;
        padding: 6px 10px;
        position: relative;
    }

    #about-header{
        width: 100%;
        background: #fff;
        padding-top: 7%;
        /* height: 100vh; */
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .aside.sticky{
        display: none;
        top: 0;
        right: -350px;
        background: rgba(224, 237, 239, 0.699);
        height: 100%;
        width: 50%;
        z-index: 10;
        padding: 70px 30px;
        scroll-behavior: none;
        transition: all 0.5s;
        
    }

    .profile-info {
        padding-top: 6%;
    }
    .about-info {
        padding-top: 5% ;
    }

    #projects .container{
        padding-bottom: 5%;
    }
    .projects-container .container{
        padding-top: 5%;
    }
    #projects .projects-grid{
        width: 100%;
        display: grid;
        row-gap: 5%;
        column-gap: 0%;
        grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
        grid-template-rows: auto 1fr;
        padding: 0px 2% 10% 2%;
    
    }

    #projects .container .showmore{
        margin: 6% auto 0px;
    }

    .services{
        padding-top: 5%;
    }
    #contact{
        padding-top: 5%;
        padding-bottom: 10%;
        width: 100%;
        height: calc(100vh - 100px);
    }
}