*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Lilita One', cursive;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: black;

}
ul{
    list-style-type: none;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #6dc5b2;
    border-radius: 8px;
}

#header{
    width: 100%;
    background: #fff;
    height: 100vh;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    padding-right: 200px;
}
.navbar .logo img{
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.navbar .list-items{
    display: flex;
    align-items: center;
}
.navbar .list-items .item a{
    margin-right: 25px;
    color:rgb(48, 50, 50) ;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    position: relative;
}
.navbar .list-items .item a:hover{
    color: darkcyan;
    transition:  all 0.5s;
}
.navbar .list-items .item a::after{
    content: '';
    width: 0px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -7px;
    border-radius: 2px;
    background-color: #88eed5;
}
.navbar .list-items .item a:hover::after{
    width: 100%;
    transition: all 0.5s;
}
.navbar .list-items .item a.active{
    color:rgb(48, 50, 50);
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 6px 10px;
    border-radius: 8px;
    text-align: center;
    background: #BDE2D9;
    transition: color 0.5s;
}
.navbar .list-items .item a.active:hover{
    color: darkcyan;
}

.profile-info{
    display: flex;
}
.profile-info .col1-info{
    flex-basis: 60%;
    display: flex;
    align-items: flex-start;
    padding-left: 150px;
    justify-content: center;
    flex-direction: column;
}
.profile-info .col1-info h1{
    font-family: cursive;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 1px;
}

.profile-info .col1-info h1:nth-child(2){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    color: #6dc5b2;
    font-size: 45px;
    text-shadow: 2px 1px 4px #91dfce;
    font-weight: 800;
    letter-spacing: 2px;
    /* transition: all 1s; */
    animation-name: letterspacacinganime;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}
@keyframes letterspacacinganime {
    0%{
        letter-spacing: 10px;
        opacity: 0;
    }
    100%{
        letter-spacing: 2px;
        opacity: 1;
    }
}

.profile-info .col1-info h3{
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: 600;
}
.profile-info .col1-info .profile-links{
    display: flex;
    align-items: center;
    margin-top: 45px;
}
.profile-info .col1-info .profile-links a{
    margin-right: 35px;
}
.profile-info .col1-info .profile-links a i{
    font-size: 25px;
    color: cadetblue;
    transition: transform 0.8s;
}
.profile-info .col1-info .profile-links a i:hover{
    transform: translateY(-10px);
}
.profile-info .col1-info .btn{
    margin-top: 40px;
    background: #15b390;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition:transform 0.5s ;
}
.profile-info .col1-info .btn a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 20px 60px;
    display: block;
    height: 100%;
    width: 100%;
}
.profile-info .col1-info .btn:hover{
    transform: scale(1.06);
}
.profile-info .col2-img{
    flex-basis: 48%;
    position: relative;
}
.profile-info .col2-img .profile-img{
    width: 100%;
    padding: 25px 100px;
    height: 100%;
    overflow: hidden;
}
.profile-info .col2-img .profile-img img{
    width: 100%;
    height: 100%;
}
/* projects section------------ */

#projects{
    width: 100%;
    background-color: #F5FEFF;
}
#projects .container h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    letter-spacing: 1px;
    padding-top: 80px;
    margin-bottom: 120px;
}
#projects .container h1::after{
    content: '';
    width: 6%;
    height: 4px;
    position: absolute;
    background-color: #15b390;
    left: 46%;
    bottom: -12px;
    border-radius: 2px;
}
#projects .projects-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-template-rows: auto 1fr;
    gap: 40px;
    padding: 0px 200px 100px 150px;

}
#projects .projects-grid .project{
    padding: 20px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.5s;
}
#projects .projects-grid .project:hover{
    transform: scale(1.03);
}
#projects .projects-grid .pro-img{
    width: 100%;
    margin-bottom: 30px;
    position: relative;

}
#projects .projects-grid .pro-img img{
    width: 100%;
}
#projects .projects-grid .project .externallink{
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #15b390;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    transform: translateY(-50%);
    margin-left: 130px;
    margin-bottom: 20px;
    transition: background 0.5s;
}
#projects .projects-grid .project .externallink:hover{
    background: #6dc5b2;
}
#projects .projects-grid .project .externallink i{
    transition: color 0.5s;
}
#projects .projects-grid .project .externallink i:hover{
    color: white;
}
#projects .projects-grid .project h2{
    text-align: center;
    font-size: 29px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    margin: 25px 0px;
    color: #043c33;
    font-weight: normal;
}

#projects .projects-grid .project .technologies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;
}
#projects .projects-grid .project .technologies .span{
    width: fit-content;
    padding: 10px 20px;
    background-color: #e6f2f3;
    border-radius: 15px;
}
#projects .projects-grid .project .externalLinks{
    margin: 40px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#projects .projects-grid .project .externalLinks a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#projects .projects-grid .project .externalLinks a:hover{
    color: #11745b;
}
#projects .projects-grid .project .externalLinks a i{
    margin-left: 10px;
}
#projects .container .showmore{
    margin: 0px auto 100px;
    display: block;
    background: #02725a;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition:transform 0.5s ;
}
#projects .container .showmore:hover{
    transform: scale(1.03);
    background: #15b390;
    color: #043c33;
}
#projects .container .showmore a{
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px 60px;
    border: none;
    outline: none;
}


/* footer styles  */

#footer{
    width: 100%;
    background: #01111e;
    padding: 70px 0px;
}
#footer .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .container .list-items{
    display: flex;
    margin: 40px 0px;
}
#footer .container .list-items a{
    color: #fff;
    font-size: 20px;
    margin-right: 35px;
    transition: color 0.5s;
}
#footer .container .list-items a:hover{
    color: #15b390;
}
#footer .container .profile-links{
    display: flex;
    align-items: center;
}
#footer .container .profile-links a{
    margin-right: 35px;
} 
#footer .container .profile-links a i{
    font-size: 25px;
    color: cadetblue;
    transition: transform 0.8s;
}
#footer .container .profile-links a i:hover{
    transform: translateY(-10px);
}
#footer .container #copyright{
    color: white;
    margin: 45px 0px;
}
#footer .container #copyright a{
    color: #6dc5b2;
}



/* about page---------------- */


#about-header{
    width: 100%;
    background: #fff;
    height: 100vh;
}
#about-header .container .navbar{
    margin-bottom: 2px;
}
#about-header .container .about-info{
    background: #F2FBFD;
    height: 100vh;
}
#about-header .container .about-info .col1-info h1:nth-child(1){
    font-family: cursive;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 1px;
    animation-name: letterspacacinganime;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}
#about-header .container .about-info .col1-info h1:nth-child(2){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    color: #6dc5b2;
    font-size: 45px;
    text-shadow: 2px 1px 4px #91dfce;
    font-weight: 800;
    letter-spacing: 2px;
    /* transition: all 1s; */
    animation-name: letterspacacinganime;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

#about-header .container .about-info .col1-info .para{
    font-size: 18px;
    font-weight: normal;
    font-family:    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 20px 0px;
}
#about-header .container .about-info .col1-info .btn{
    margin-top: 40px;
    background: #15b390;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition:transform 0.5s ;
    border-radius: 5px;
}
#about-header .container .about-info .col1-info .btn a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 20px 60px;
    display: block;
    height: 100%;
    width: 100%;
}
#about-header .container .about-info .col1-info .btn:hover{
    transform: scale(1.06);
}

.about-info{
    display: flex;
    padding-bottom: 100px;
}
.about-info .col1-info{
    flex-basis: 60%;
    display: flex;
    align-items: flex-start;
    padding-left: 150px;
    justify-content: center;
    flex-direction: column;
}

.about-info .col2-img{
    flex-basis: 48%;
    position: relative;
}


.about-info .col2-img .profile-img{
    width: 100%;
    padding: 60px 100px 0px;
    overflow: hidden;
    position: relative;
    z-index: 1  ;
}
.about-info .col2-img .profile-img::after{
    content: '';
    position: absolute;
    /* height: 70%; */
    width: 87%;
    border-right: 10px solid #72d8e3;
    left: -10px;
    bottom: 20px;
    border-radius: 8px;
    z-index: -1;
    animation-name: borderanime;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

@keyframes borderanime {
    0%{
        bottom: 5px;
        height: 0px;
        opacity: 0;
    }
    100%{
        bottom: 5px;
        height: 50%;
        opacity: 1;
    }
}

.about-info .col2-img .profile-img img{
    width: 100%;
    height: 100%;
}


#experience{
    display: block;
    background-color: #fff;
    /* padding: 0px 0px; */
}
#experience h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    padding-top: 80px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
#experience h1::after{
    content: '';
    width: 6%;
    height: 4px;
    position: absolute;
    background-color: #15b390;
    left: 47%;
    border-radius: 2px;
    bottom: -12px;
}
#experience h2{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 100px;
}

#skills{
    background: #F2FBFD;
}
#skills h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    padding-top: 80px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
#skills h1::after{
    content: '';
    width: 6%;
    height: 4px;
    position: absolute;
    background-color: #15b390;
    left: 47%;
    border-radius: 2px;
    bottom: -12px;
}
#skills .skills-grid{
    padding: 40px 200px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}
#skills .skills-grid .tech{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    transition: transform 0.5s;
}
#skills .skills-grid .tech:hover{
    transform: scale(1.02);
}
#skills .skills-grid .tech h2{
    font-size: 28px;
    margin-bottom: 20px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#skills .skills-grid .tech .skills-div{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    
}
#skills .skills-grid .tech .skills-div .skill{
    background-color: #eceef0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 5px 5px rgba(0,0,0,.1);
}
#skills .skills-grid .tech .skills-div .skill:hover{
    box-shadow: inset 0 5px 15px rgba(0,0,0,.2);
}

/* eduaction details----- */

#education{
    background: #fff;
    width: 100%;
}
#education h1{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    padding-top: 30px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    /* margin-bottom: 60px; */
}
#education h1::after{
    content: '';
    width: 6%;
    height: 4px;
    position: absolute;
    background-color: #15b390;
    left: 47%;
    border-radius: 2px;
    bottom: -12px;
    
}
#education .edu-grid{
    width: 100%;
}
#education .edu-grid .each-standard{
    padding: 0px 300px;
    display: flex;
    align-items: center;
}
#education .edu-grid .each-standard span.active{
    background: #e6f2f3;
    width: 140px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: margin-right 0.5s;
    box-shadow: inset 0 5px 12px rgba(99, 99, 99, 0.4);
}
#education .edu-grid .each-standard span.active:hover{
    margin-right: 120px;
    box-shadow: inset 0 5px 10px rgba(99, 99, 99, 0.7);

}
#education .edu-grid .each-standard span.active{
    border-left: 5px solid #72d8e3;
}
#education .edu-grid .standard{
    width: 560px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    box-shadow: 0px 0px 10px 2px rgba(224,224,224,1);
    transition: transform 0.5s;
    margin-bottom: 10px;
    margin-left: 100px;
}
#education .edu-grid .standard .school{
    font-size: 25px;
    text-align: left;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    color: #82999c;
}
#education .edu-grid .standards .each-standard .details p.loc{
    margin-top: 20px;
}
#education .edu-grid .standard .school::after{
    display: none;
}